html{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{
    background: #f2f4fb;
    
    font-family: sans-serif;
}

.content > div{
    padding: 5px 10px 10px;
    border-radius: 10px;
}

.calculator{
    background-color: #e4e6f6;
}

.name-stat{
    background-color: #f6e4f5;
}

.stat-table{
    background-color: #fae5e5;
}
